@media (max-width: 1700px) {
  font-size: 5px;
}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  position: relative;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* #region HEADER */
body > header {
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 0.1vw 0.3vw black;
  background: #5ce1fe;
  background: linear-gradient(180deg, #87e9ff 0%, #23505e 100%);
}

h1 {
  color: #f9f9f9;
  text-shadow: 0vw 0.1vw 0.3vw #000000;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  filter: invert();
  padding: 1vw;
  width: 13vw;
}

/* #region NAV */
nav {
  padding: 1vw;
}
nav ul,
nav ul li,
nav ul li a {
  display: flex;
  justify-content: space-around;
  color: #23505e;
  list-style: none;
  text-decoration: none;
}

nav ul li {
  transition: 0.1s;
  border-radius: 1000px;
  background-color: #ffffff;
  padding: 1vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

nav ul li:hover {
  scale: 1.15;
  transition: 0.1s;
}
/* #endregion */

/* #endregion */

/* #region MAIN */
main {
  width: 100%;
  /* height: 60vw; */
}
/* #region PREVIEW */
.preview {
  background-image: url();
  width: 100%;
  height: 50%;
}
/* #endregion */
/* #region PRODUCT */
#productContainer {
  display: flex;
  gap: 1%;
  margin: 1%;
  width: 100%;
  height: 17vw;
}

.preview {
  display: flex;
  justify-content: center;
}

.product-card {
  display: inline-block;
  position: relative;
  transition: 0.05s;
  margin: 10px;
  box-shadow: 0vw 1vw 1vw #00000070;
  border: 1px solid #ddd;
  border-radius: 4px;
  border-radius: 5%;
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
}

.product-card h2 {
  padding: 3%;
  font-size: large;
}

.product-card:hover {
  scale: 1.05;
  transition: 0.1s;
  box-shadow: 0vw 1.5vw 1.5vw #00000070;
}

.product-card * {
  width: 100%;
}

.img-container {
  border-radius: 5%;
  width: 100%;
  height: 225px;
  overflow-y: hidden;
}

.img-container img {
  width: 100%;
  height: auto;
  min-height: 255px;
}

.product-card a {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
  transition: 0.1s;
  margin: 3%;
  box-shadow: 0vw 0vw 0.3vw #000000;
  border-style: none;
  border-radius: 50%;
  background-image: url(shopping_cart_FILL0_wght400_GRAD0_opsz24.svg);
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  background-color: #92e024;
  width: 3vw;
  height: 3vw;
}

.product-card .discountPercentage {
  color: #f9f9f9;
  text-align: center;
}

.product-card .star {
  display: flex;
  position: absolute;
  top: -1vw;
  left: -1vw;
  justify-content: center;
  align-items: center;
  background-image: url(image_2024-02-16_090515971_cleanup-removebg-preview.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 5vw;
  height: 5vw;
}

.product-card a:hover {
  scale: 1.5;
  animation: hover 0.3s;
  transition: 0.1s;
  cursor: pointer;
}

.product-card figcaption {
}

.product-card footer {
  display: grid;
  position: absolute;
  bottom: 0;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 10%;
  text-align: center;
}

.product-card footer * {
  width: auto;
}

.product-card .price {
  margin: 0.3vw;
  box-shadow: 0 0.1vw 0.3vw black;
  border-radius: 1000px;
  background-color: #ffea00;
  padding: 0.5vw;
  color: #000000;
  text-shadow: 0 0.1vw 0.3vw rgb(255, 255, 255);
}
/* #endregion */

/* #endregion */

/* #region FOOTER */
body > footer {
  display: grid;
  bottom: 0;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 0.1vw 0.3vw black;
  background: rgb(92, 225, 254);
  background: linear-gradient(
    180deg,
    rgb(135, 233, 255) 0%,
    rgb(35, 80, 94) 100%
  );
  padding: 1vw;
}

/* #endregion */

/* #region ANIMATIONS*/
@keyframes hover {
  30% {
    rotate: 10deg;
  }
  60% {
    rotate: -10deg;
    background-color: #ceee93;
  }
  90% {
    rotate: 0deg;
  }
}
/* #endregion */

.banner {
  box-shadow: 0 0.1vw 1vw black;
  background: rgb(255, 229, 0);
  background: radial-gradient(
    circle,
    rgba(255, 229, 0, 1) 0%,
    rgb(145, 111, 0) 100%
  );
  padding: 3vw;
  width: 100%;
  height: 5vw;
  text-align: center;
}

#countdown {
  font-weight: bolder;
  font-size: 3em;
}

section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 15vw 10vw 15vw 10vw;
}

section article {
  box-shadow: 0 0.3vw 1vw black;
  border-radius: 3vw;
  background: rgb(92, 225, 254);
  background: linear-gradient(
    180deg,
    rgb(135, 233, 255) 0%,
    rgb(35, 80, 94) 100%
  );
  padding: 3em;
  color: #ffffff;
}

section img {
}

article h2 {
  font-size: 3em;
}

article p {
  font-size: 2.5em;
}

.map iframe {
  width: 30%;
  height: auto;
}

video {
  background-color: #000000;
  width: 100%;
  height: 30vw;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1000px;
  background: #acacac;
  background: radial-gradient(circle, #cecece 0%, #acacac 100%);
}

::-webkit-scrollbar-track {
  transition: 0.5s;
  border: none;
  border-radius: 0;
  background-color: #ffffff00;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  transition: 0.5s;
  background: rgb(135, 233, 255);
  background: radial-gradient(circle, #87e9ff 50%, #acacac 100%);
}
