* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* #region HEADER */
body > header {
}

h1 {
  color: #f9f9f9;
  text-shadow: 0vw 0.1vw 0.3vw #000000;
}
/* #region NAV */
nav ul,
nav ul li,
nav ul li a {
  display: flex;
  justify-content: space-around;
  color: #f9f9f9;
  list-style: none;
  text-decoration: none;
}
/* #endregion */

/* #endregion */

/* #region MAIN */
main {
  display: flex;
  justify-content: center;
  width: 100%;
}
/* #region PREVIEW */
.preview {
  background-image: url();
  width: 100%;
  height: 50%;
}
/* #endregion */
/* #region PRODUCT */
#productContainer {
  display: flex;
  gap: 1%;
  margin: 1%;
  width: 100%;
  height: 17vw;
}

.product-card {
  display: inline-block;
  position: relative;
  transition: 0.05s;
  margin: 10px;
  box-shadow: 0vw 1vw 1vw #00000070;
  border: 1px solid #ddd;
  border-radius: 4px;
  border-radius: 5%;
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
}

.product-card h2 {
  padding: 3%;
  font-size: large;
}

.product-card:hover {
  scale: 1.05;
  transition: 0.1s;
  box-shadow: 0vw 1.5vw 1.5vw #00000070;
}

.product-card * {
  width: 100%;
}

.img-container {
  border-radius: 5%;
  width: 100%;
  height: 225px;
  overflow-y: hidden;
}
.img-container img {
  width: 100%;
  height: auto;
  min-height: 255px;
}

.product-card a {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
  transition: 0.1s;
  margin: 3%;
  box-shadow: 0vw 0vw 0.3vw #000000;
  border-style: none;
  border-radius: 50%;
  background-image: url(shopping_cart_FILL0_wght400_GRAD0_opsz24.svg);
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  background-color: #92e024;
  width: 3vw;
  height: 3vw;
}

.product-card .discountPercentage {
  text-align: center;
  color: #f9f9f9;
}

.product-card .star {
  display: flex;
  position: absolute;
  left: -1vw;
  top: -1vw;
  justify-content: center;
  align-items: center;
  background-image: url(image_2024-02-16_090515971_cleanup-removebg-preview.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 5vw;
  height: 5vw;
}

.product-card a:hover {
  scale: 1.5;
  animation: hover 0.3s;
  transition: 0.1s;
  cursor: pointer;
}

.product-card figcaption {
}

.product-card footer {
  display: grid;
  position: absolute;
  bottom: 0;
  grid-template-columns: 2fr 1fr 1fr;
  text-align: center;
  gap: 10%;
}

.product-card footer * {
  width: auto;
}

.product-card .price {
  margin: 0.3vw;
  padding: 0.5vw;
  background-color: #92e024;
  border-radius: 1000px;
  color: #ffffff;
  text-shadow: 0 0.1vw 0.3vw black;
  box-shadow: 0 0.1vw 0.3vw black;
}
/* #endregion */

/* #endregion */

/* #region FOOTER */
footer {
}
/* #endregion */

/* #region ANIMATIONS*/
@keyframes hover {
  30% {
    rotate: 10deg;
  }
  60% {
    rotate: -10deg;
    background-color: #ceee93;
  }
  90% {
    rotate: 0deg;
  }
}
/* #endregion */
